@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen {
  margin: 30px 30px 20px;
  display: grid;
  grid-template-columns: repeat(28, 30px);
  grid-template-rows: repeat(18, 30px);
  border: solid 10px #000;
  grid-row-gap: 3px;
  grid-column-gap: 3px;
}
.screenContainer {
  background: #7d8c73;
  width: auto;
  border: 40px silver solid;
  margin-top: 30px;
  position: relative;
}
.on {
  background: black;
  opacity: 1;
  transition: 0.2s;
}
.off {
  background: black;
  opacity: 0;
  transition: 0.2s;
}
.score {
  font-size: 30px;
  font-family: "Press Start 2P", monospace;
  margin-bottom: 10px;
}
button {
  font-size: 30px;
  font-family: "Press Start 2P", monospace;
  background: none;
  border: none;
  text-decoration: none;
}
.buttonContainer {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.hidden {
  display: none;
}

.pixel {
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-template-rows: repeat(3, 10px);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}
